/*  RESET CSS */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html,
body {
  height: 100%;
  background: white;
  font-family: 'Open Sans', sans-serif;
}
button {
  outline: none;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ul {
  list-style-type: none;
}
/* END RESET CSS */
#slideshowMovies {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  height: 600px;
  overflow: hidden;
  background: black;
  position: relative;
}
#slideshowMovies .navButton {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}
#slideshowMovies .navButton:hover {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.2);
}
#slideshowMovies #loader {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  text-align: center;
}
#slideshowMovies #loader img {
  width: 50px;
  margin-top: 250px;
}
#slideshowMovies #prevButton {
  left: 0px;
}
#slideshowMovies #nextButton {
  right: 0px;
}
#slideshowMovies #tabs {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#slideshowMovies #tabs ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  margin: 0px 10px 10px 0;
}
#slideshowMovies #tabs ul li:last-child {
  margin-right: 0;
}
#slideshowMovies #tabs ul li.current {
  background: yellow;
}
#slideshowMovies #MoviesList {
  position: relative;
  width: 2000%;
  height: 100%;
}
#slideshowMovies #MoviesList .movie {
  width: 5%;
  height: 100%;
  float: left;
  position: relative;
}
#slideshowMovies #MoviesList .movie .backdrop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-color: #444;
  opacity: 0.8;
}
#slideshowMovies #MoviesList .movie .poster {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 55%;
  background-color: #ccc;
}
#slideshowMovies #MoviesList .movie .textContent {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 50%;
  color: white;
}
#slideshowMovies #MoviesList .movie .title {
  margin-bottom: 20px;
  font-size: 2em;
  text-transform: uppercase;
}
#slideshowMovies #MoviesList .movie .overview {
  margin-bottom: 20px;
  color: white;
  max-height: 200px;
  overflow-y: scroll;
}
#slideshowMovies #MoviesList .movie .score {
  list-style-type: none;
}
#slideshowMovies #MoviesList .movie .score li {
  float: left;
  margin-right: 10px;
  width: 20px;
}
#slideshowMovies #MoviesList .movie .score li:last-child {
  margin-right: 0px;
}
#slideshowMovies #MoviesList .movie .score li svg {
  width: 20px;
  height: 20px;
}
/* Responsive pour le fun */
@media all and (max-width: 768px), all and (max-device-width: 768px) {
  #slideshowMovies {
    height: 90%;
  }
  #slideshowMovies .navButton {
    max-width: 10vw;
  }
  #slideshowMovies #tabs ul li {
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    margin: 0px 2vw 2vw 0;
  }
  #slideshowMovies #MoviesList .movie {
    text-align: center;
  }
  #slideshowMovies #MoviesList .movie .poster {
    position: relative;
    margin: auto;
    top: auto;
    left: auto;
    width: 30%;
    margin-top: 5vh;
    height: auto;
  }
  #slideshowMovies #MoviesList .movie .textContent {
    position: relative;
    text-align: center;
    padding: 0 10vw;
    width: auto;
    top: auto;
    left: auto;
  }
  #slideshowMovies #MoviesList .movie .title {
    margin-top: 5vh;
    font-size: 18px;
  }
  #slideshowMovies #MoviesList .movie .overview {
    margin-bottom: 5vh;
    font-size: 14px;
  }
  #slideshowMovies #MoviesList .movie .score {
    margin-top: 5vh;
  }
  #slideshowMovies #MoviesList .movie .score li {
    float: none;
    display: inline-block;
    margin-right: 2vw;
    width: 3vw;
  }
  #slideshowMovies #MoviesList .movie .score li svg {
    width: 3vw;
    height: 3vw;
  }
}
